img {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 200px;
    display: block;
}
header{
    padding: 10px 0;
    text-align: center;
}
main{
    padding: 20px;
    text-align: center;
}
section{
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
h10{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
h6{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
article{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    padding: 0;
}
h{
    padding: 50px;
}
aside{
    border: 1px solid;
    padding: 20px;
    margin-top: 20px;
}